{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Matthew Ayala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/baseballpic.jpg' %}">
                <hr>
                <h3>Hello I'm Matt!</h3>
                <p>I enjoy a wide range of things from coding, sports, gaming, and staying healthy!</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body border-info">
                    <h4>This is my personal website!</h4>
                    <hr>
                    <p>I am a dude that played some baseball and now I am trying into Biomedical Data Science</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h3>Some hobbies...</h3>
                    <hr>
                    <p> I hope to eventually complete a full ironman!</p>
                    <p>I would also like to</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h3>What I've used...</h3>
                    <hr>
                    <p>Python, R, JMP, STATA,  </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h3>Shows that I liked!</h3>
                    <hr>
                    <p>Squid Game, Breaking Bad, Game of Thrones, Prison Break, Bleach</p>
                    <hr>
                    <h5>Currently Watching...</h5>
                    <p>Ozark, Love Island UK (guilty pleasure :))</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>>

    






