{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Matthew Ayala</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheets" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/baseballpic.jpg' %}">
                <hr>
                <h3>Hello I'm Matt!</h3>
                <p>yo yo yo yeeter</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>>

    






